<template>
  <require
    from="../../partials/custom-form/custom-input/custom-input"
  ></require>
  <require from="../../partials/custom-list/custom-list"></require>
  <require from="../../partials/custom-form/custom-form"></require>
  <entities>
    <entity repeat.for="entity of characters" class="character">
      <custom-form
        repeat.for="entity of characters"
        class="character"
        settings.bind="characterEntityFormSettings"
        result.bind="{}"
        data.bind="entity"
      >
      </custom-form>
    </entity>
  </entities>
  <entities if.bind="enemyFormSettings">
    <entity repeat.for="entity of enemies">
      <button
        if.bind="client.user.userType == 'GM'"
        click.delegate="removeEnemy($index)"
      >
        X
      </button>
      <custom-form
        settings.bind="enemyFormSettings"
        result.bind="{}"
        data.bind="entity"
      >
      </custom-form>
      <custom-list
        if.bind="client.user.userType == 'GM'"
        data.bind="entity.attacks"
        settings.bind="getAttackListSettings(entity)"
      ></custom-list>
      <custom-list
        if.bind="client.user.userType == 'GM'"
        data.bind="entity.actions"
        settings.bind="actionListSettings"
      ></custom-list>
    </entity>
  </entities>
</template>
