<template>
  <require from="../item-slot/item-slot"></require>
  <require from="../../tooltip/tooltip"></require>
  <label
    if.bind="settings.hasLabel != false"
    for="${settings.key}"
    class="form-label"
    click.delegate="onLabelClick($event)"
    contextmenu.delegate="onLabelContext($event)"
    >${settings.label}</label
  >
  <inner
    class="${settings.type.toLowerCase()} ${settings.key.toString().toLowerCase()} ${value.toString().toLowerCase().replace(' ', '-')}"
  >
    <input
      if.bind="settings.type == 'INPUT' && settings.subType != 'TEXTAREA'"
      disabled.bind="settings.readonly"
      type="${settings.subType}"
      class="form-control"
      id="${settings.key}"
      placeholder="${settings.placeholder || ''}"
      value.bind="value"
      mouseover.delegate="setTooltipVisibility(true)"
      mouseout.delegate="setTooltipVisibility(false)"
      click.delegate="onInputClick($event)"
      contextmenu.delegate="onInputContext($event)" />
    <textarea
      if.bind="settings.type == 'INPUT' && settings.subType == 'TEXTAREA'"
      disabled.bind="settings.readonly"
      class="form-control"
      id="${settings.key}"
      placeholder="${settings.placeholder || ''}"
      value.bind="value"
      mouseover.delegate="setTooltipVisibility(true)"
      mouseout.delegate="setTooltipVisibility(false)"
      click.delegate="onInputClick($event)"
      contextmenu.delegate="onInputContext($event)"
    ></textarea>
    <select
      if.bind="settings.type == 'SELECT'"
      value.bind="value"
      mouseover.delegate="setTooltipVisibility(true)"
      mouseout.delegate="setTooltipVisibility(false)"
      click.delegate="onInputClick($event)"
      contextmenu.delegate="onInputContext($event)"
    >
      <option disabled model.bind="null">${settings.label}</option>
      <option repeat.for="item of settings.options" model.bind="item">
        ${getSelectOptionValue(item)}
      </option>
    </select>
    <item-slot
      if.bind="settings.type == 'ITEMSLOTS'"
      repeat.for="itemSlot of data[settings.key]"
      settings.bind="settings"
      value.two-way="value"
      index.bind="$index"
      mouseover.delegate="setTooltipVisibility(true)"
      mouseout.delegate="setTooltipVisibility(false)"
      on-context-callback.call="onItemSlotInputContext($event)"
    ></item-slot>

    <tooltip
      if.bind="!!settings.tooltipSource"
      tooltip.bind="settings"
      visible.bind="tooltipVisible"
      data.bind="data"
    ></tooltip
  ></inner>
</template>
