<template>
  <require from="../../partials/custom-list/custom-list"></require>
  <require from="../../partials/custom-form/custom-form"></require>
  <require from="../../partials/custom-form/multiple-select/multiple-select"></require>
  <require from="../../partials/custom-form/custom-input/custom-input"></require>
  <require from="../../partials/custom-form/item-slot/item-slot"></require>
  <button class="btn btn-primary" if.bind="modelViewState == 'list'" click.delegate="onNew()">NEW CHARACTER</button>
  <button class="btn btn-primary" if.bind="modelViewState == 'list'" click.delegate="onRandom()">RANDOM CHARACTER</button>
  <custom-list if.bind="modelViewState == 'list'" settings.bind="characterListSettings"></custom-list>
  <character-form if.bind="modelViewState == 'form'">
    <stats>
      <base-info>
        <custom-input
          repeat.for="input of characterSettings.getInputsByGroup('base-info')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
        ></custom-input>
      </base-info>
      <attributes>
        <custom-input
          repeat.for="input of characterSettings.getInputsByGroup('attributes')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
        ></custom-input>
      </attributes>
      <endurance>
        <custom-input
          repeat.for="input of characterSettings.getInputsByGroup('endurance')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
        ></custom-input>
      </endurance>
    </stats>
    <traits>
      <multiple-select
        repeat.for="input of characterSettings.getInputsByGroup('traits')"
        settings.bind="input"
        result.two-way="characterFormResult"
        value.bind="input.getInputValue(selectedCharacter)"
        data.bind="selectedCharacter"
      ></multiple-select>
    </traits>
    <inventory>
      <readied-inventory>
        <item-slot
          repeat.for="input of characterSettings.getInputsByGroup('hands')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
        ></item-slot>
        <item-slot
          repeat.for="input of characterSettings.getInputsByGroup('body')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
        ></item-slot>
        <item-slot
          repeat.for="input of characterSettings.getInputsByGroup('belt')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
        ></item-slot>
      </readied-inventory>
      <pack-inventory>
        <item-slot
          repeat.for="input of characterSettings.getInputsByGroup('pack')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
        ></item-slot>
      </pack-inventory>
    </inventory>
    <button class="btn btn-secondary" click.delegate="onCancel()">CANCEL</button>
    <button if.bind="operation == 'ADD'" class="btn btn-primary" click.delegate="onSave()">SAVE</button>
  </character-form>
</template>
