<template>
  <require from="../../partials/custom-list/custom-list"></require>
  <require from="../../partials/custom-form/custom-form"></require>
  <require
    from="../../partials/custom-form/multiple-select/multiple-select"
  ></require>
  <require
    from="../../partials/custom-form/custom-input/custom-input"
  ></require>
  <require from="../../partials/custom-form/item-slot/item-slot"></require>
  <require from="../../partials/context-menu/context-menu"></require>
  <require from="../assets/assets"></require>
  <button
    class="btn btn-primary"
    if.bind="modelViewState == 'list'"
    click.delegate="onNew()"
  >
    NEW CHARACTER
  </button>
  <button
    class="btn btn-primary"
    if.bind="modelViewState == 'list'"
    click.delegate="onRandom()"
  >
    RANDOM CHARACTER
  </button>
  <custom-list
    if.bind="modelViewState == 'list'"
    settings.bind="characterListSettings"
  ></custom-list>
  <character-form if.bind="modelViewState == 'form'">
    <stats>
      <base-info>
        <custom-input
          repeat.for="input of characterFormSettings.getInputsByGroup('base-info')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
        ></custom-input>
      </base-info>
      <attributes>
        <custom-input
          repeat.for="input of characterFormSettings.getInputsByGroup('attributes')"
          settings.bind="input"
          result.two-way="characterFormResult"
          value.bind="input.getInputValue(selectedCharacter)"
          data.bind="selectedCharacter"
          on-label-context-callback.call="onLabelContext($event.settings, $event.result)"
        ></custom-input>
      </attributes>
      <health>
        <endurance>
          <custom-input
            repeat.for="input of characterFormSettings.getInputsByGroup('endurance')"
            settings.bind="input"
            result.two-way="characterFormResult"
            value.bind="input.getInputValue(selectedCharacter)"
            data.bind="selectedCharacter"
          ></custom-input>
        </endurance>
        <wound contextmenu.delegate="onWoundContext($event)">
          <label>${selectedCharacter.health}</label>
          <background
            class="wound-state-${selectedCharacter.health}"
          ></background>
        </wound>
      </health>
    </stats>
    <traits>
      <multiple-select
        repeat.for="input of characterFormSettings.getInputsByGroup('traits')"
        settings.bind="input"
        result.two-way="characterFormResult"
        value.bind="input.getInputValue(selectedCharacter)"
        data.bind="selectedCharacter"
      ></multiple-select>
    </traits>
    <inventory>
      <header>Inventory</header>
      <custom-input
        repeat.for="input of characterFormSettings.getInputsByGroup('itemSlots')"
        settings.bind="input"
        result.two-way="characterFormResult"
        value.bind="input.getInputValue(selectedCharacter)"
        data.bind="selectedCharacter"
        on-input-context-callback.call="onItemSlotContext($event.settings, $event.result)"
      ></custom-input>
    </inventory>
    <button class="btn btn-secondary" click.delegate="onCancel()">
      CANCEL
    </button>
    <button
      if.bind="operation == 'ADD'"
      class="btn btn-primary"
      click.delegate="onSave()"
    >
      SAVE
    </button>
  </character-form>
  <assets
    if.bind="selectedCharacter && operation == 'EDIT' && client.user.userType != 'GM'"
    selected-character.bind="selectedCharacter"
    character-form-result.two-way="characterFormResult"
  ></assets>
  <context-menu
    if.bind="contextMenuButtons"
    buttons.bind="contextMenuButtons"
  ></context-menu>
</template>
