all-items {
  position: relative;
  min-height: 0;
  max-height: 100%;
  container {
    overflow-y: scroll;
    min-height: 0;
    max-height: calc(100% - 20px);
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, 140px);
    justify-content: start;
    align-items: flex-end;
    align-content: baseline;
    item {
      border: 1px solid black;
    }
  }
  input{
    background-color: white;
    z-index: 9999;
  }
}
