<template>
  <require from="../character/character"></require>
  <require from="../all-items/all-items"></require>
  <require from="../die-roller/die-roller"></require>
  <require from="../rulebook/rulebook"></require>
  <require from="../profile/profile"></require>
  <require from="../time-tracker/time-tracker"></require>
  <require from="../entity-picker/entity-picker"></require>
  <require from="../current-entities/current-entities"></require>
  <require from="../notes/notes"></require>
  <require from="../../partials/context-menu/context-menu"></require>
  <nav>
    <button click.delegate="onNav('play-container')" class="active-${activeTab == 'play-container'}"><label>Play</label></button>
    <button click.delegate="onNav('rulebook')" class="active-${activeTab == 'rulebook'}"><label>Rulebook</label></button>
    <button click.delegate="onNav('user-profile')" class="active-${activeTab == 'user-profile'}"><label>Profile</label></button>
    <button click.delegate="onLogout()" class="active-false"><label>Logout</label></button>
  </nav>
  <content>
    <context-menu></context-menu>
    <user-profile if.bind="activeTab == 'user-profile'">
      <profile></profile>
    </user-profile>
    <rules if.bind="activeTab == 'rulebook'">
      <rulebook></rulebook>
    </rules>
    <play-container if.bind="activeTab == 'play-container'">
      <grid-box><die-roller></die-roller></grid-box>
      <grid-box><all-items></all-items></grid-box>
      <grid-box class="character">
        <character if.bind="client.user.userType != 'GM'"></character>
        <entity-picker if.bind="client.user.userType == 'GM'"></entity-picker>
      </grid-box>
      <grid-box class="current-entities">
        <time-tracker></time-tracker>
        <current-entities></current-entities>
      </grid-box>
      <grid-box class="notes">
        <notes></notes>
      </grid-box>
    </play-container>
  </content>
</template>
