<template>
  <require from="../../custom-form/custom-form"></require>
  <require from="../../tooltip/tooltip"></require>
  <require from="./custom-list-cell/custom-list-cell"></require>
  <custom-list-cell
    repeat.for="value of cellValues"
    mouseover.delegate="setTooltipVisibility(true)"
    mouseout.delegate="setTooltipVisibility(false)"
    value.bind="value"
    click.delegate="onClick()"
    contextmenu.delegate="onContext($event)"
  ></custom-list-cell>
  <button
    if.bind="settings.hasDeleteButton"
    click.delegate="onDelete($event)"
  >X</button>
  <custom-form
    class="list-expansion horizontal-fields expanded-${isExpanded}"
    if.bind="settings.expandable"
    show.bind="isExpanded"
    settings.bind="getExpansionFormSettings()"
    data.bind="item"
  ></custom-form>
  <tooltip
    if.bind="!!settings.tooltipSource"
    tooltip.bind="settings"
    visible.bind="tooltipVisible"
    data.bind="toolTipData"
  ></tooltip>
</template>
